asgiref==3.5.0
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.7
Django==4.0.2
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.11.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
Jinja2==3.0.3
MarkupSafe==2.1.0
Pillow==8.4.0
pycryptodome==3.11.0
pygame==2.1.0
requests==2.26.0
rfc3986==1.5.0
simple-crypt==4.1.7
sniffio==1.2.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.7
