{% extends 'main/home.html' %}
{% load static %}

{% block fhead %}
    <link rel="stylesheet" href="{% static 'main/css/folder.css' %}">
{% endblock %}

{% block accesses %}
    <div class="frame">
        {% for a in accesses %}
            <div class="span">
                <p class="name">{{ a.name }}:</p>
                <p class="value">{{ a.value }}</p>
            </div>
        {% endfor %}
        <div class="buttons">
            <button>Добавить</button>
            <button>Поделиться</button>
        </div>
    </div>
{% endblock %}

{% block users %}
    <div class="frame users">
        <h3>Админы</h3>
        {% for a in admins %}
            <p>{{ a.username }}</p>
        {% endfor %}
        <h3>Пользователи</h3>
        {% for u in users %}
            <p>{{ u.username }}</p>
        {% endfor %}
    </div>
{% endblock %}