{% extends 'main/layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'main/css/signin.css' %}">
{% endblock %}

{% block content %}
    <div class="signin">
        <h1>{{ title }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in registerform %}
                <div class="form-block">
                    <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}
                </div>
                <p class="form-error">{{ f.errors }}</p>
            {% endfor %}
            {% csrf_token %}
            {% for f in masterform %}
                <div class="form-block"><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>{{ f }}</div>
                <p class="form-error">{{ f.errors }}</p>
            {% endfor %}
            <button type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}