.left-col, .right-col {
    width: 27%;
    height: 100vh;
    border: 1px solid rgba(71, 69, 69, 0.31);
}
.mid-col {
    width: 46%;
}
.content {
    display: flex;
}
.frame a {
    display: block;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 4px 0 0 10px;
    border-radius: 5px;
}

.frame a:hover {
    background-color: #dedddd;
}

.frame {
    width: 60%;
    margin: 0 auto;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

a svg {
    margin: 0 5px 0 0;
}