body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 50px;
    padding: 15px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3CADEDBF;
    color: #fff;
    font-size: 20px;
}

.logo {
    display: flex;
    font-size: 36px;
    align-items: center;
}
.logo p {
    margin: 0;
    height: min-content;
}

header img {
    width: 65px;
    height: 55px;
    margin-right: 15px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #dedddd;
}
.profile {
    display: flex;
}
.profile p{
    margin: 0 15px 0 0;
}